{#
/**
 * @file
 * Default theme implementation to display an mmenu region.
 *
 * Available variables:
 * - content: The content for this Mmenu, typically blocks.
 * - attributes: The mmenu wrapper attributes.
 *
 * @see template_preprocess()
 * @see template_preprocess_mmenu_block()
 * @see template_process()
 *
 * @ingroup themeable
 */
#}
{% if content %}
<nav{{ attributes }}>
    <div>
        {{ content }}
    </div>
</nav>
{% endif %}
