{#
/**
 * @file
 * Default theme implementation to display an mmenu region.
 *
 * Available variables:
 * - $blocks: an array of blocks, each containing a content key.
 *
 * @see template_preprocess()
 * @see template_preprocess_mmenu_block()
 * @see template_process()
 *
 * @ingroup themeable
 */
#}
{% if blocks %}
<nav id="mmenu">
    <div>
        {% for block in blocks %}
            {% if block.collapsed %}
                <a href="{{ block.title_href }}">{{ block.title }}</a>
            {% endif %}
            <div{{ block.attributes }}>
                {{ block.content }}
            </div>
        {% endfor %}
    </div>
</nav>
{% endif %}
